@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-text: #000742;
  --color-text-white: #F4F4F4;
  --color-bg: #41BFCC;
  --color-footer:#ADDCF0;
    --font-lexend: 'Lexend', sans-serif;
  --color-blue-light:#7D8CF0;
   --animate-title: title 2s ease-in-out;
}

@layer utilities {
  .remove-number-spinners::-webkit-outer-spin-button,
  .remove-number-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .remove-number-spinners {
    -moz-appearance: textfield;
  }
}

@keyframes title {
    0% {
        opacity:0%
    }

    100% {
        opacity: 100%;
    }
}